@model IEnumerable<PropagendaMVC.Models.ProviderVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Become a provider</a>
</p>


@foreach (var item in Model)
{
    if (item.IsActive)
    {
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Bio)</p>
             @Html.ActionLink("Discover", "Details", new {  id=item.Id  })
          </div>
        </div>
    }
    
}
