@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/images/concert-home.jpg" class="img-fluid" />
</div>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Bienvenue sur Propagenda !</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Notre application est la solution idéale pour vos besoins d'organisation d'événements.
        Grâce à notre plateforme, vous pouvez facilement trouver des prestataires de service qualifiés pour répondre à vos besoins spécifiques.
        Que vous cherchiez un musicien, un groupe, un circassien ou un clown, notre réseau de prestataires expérimentés peut vous aider.</p>
    </div>
</div>



<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">N'attendez plus pour rejoindre notre communauté dynamique, et profitez de tous les avantages qu'offre notre application. Inscrivez-vous dès maintenant et commencez à booker vos événements en toute simplicité!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">S'inscrire</button>
      </div>
    </div>
</div>
