@model PropagendaMVC.Models.CreateTicketReservationVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateTicketReservationVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TotalNbTickets" class="control-label"></label>
                <input asp-for="TotalNbTickets" class="form-control" />
                <span asp-validation-for="TotalNbTickets" class="text-danger"></span>
                <input asp-for="EventId" class="form-control" type="hidden" value="@ViewContext.RouteData.Values["id"]"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
    <br />
    <br />
    <button onclick="history.go(-1)">Back</button>
</div>

