@model IEnumerable<PropagendaMVC.Models.CreateServiceReservationVM>

@{
    ViewData["Title"] = "Merci!";
}

<h1>Votre demande à bien été prise en compte!</h1>






<button onclick="history.go(-1)">Back</button>
