@model IEnumerable<PropagendaMVC.Models.ServiceReservationByUserVM>

@{
    ViewData["Title"] = "ServiceReservationsByUser";
}

<h1>Mes demandes de service</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Service
            </th>
            <th>
                Date du service
            </th>
            <th>
                Date de la demande
            </th>
            <th>Commentaire</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SSR[0].Service.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td></td>
        </tr>
}
    </tbody>
</table>

<button onclick="history.go(-1)">Back</button>
